body {
    font-family: Arial, sans-serif;
    background-color: #94c773;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 10px;
}

h1 {
    color: #471871;
    text-align: center;
    justify-content: center;
    display: flex;
}

h3 {
    color: #471871;
    align-items: center;
    display: flex;
    justify-content: center;
}

p {
    color: #653496;
}

h5 {
    color: #471871;
    margin-bottom: 5px;
    list-style-type: none;
    display: flex;
    align-items: left;
    gap: 5px;
    font-size: medium;
    font-weight: bold;
}

form {
    background-color: #56941E;
    border: 1px solid #7852AE;
    border-radius: 5px;
    width: 40%;
    padding: 5px;
    margin-bottom: 20px;
    display: flexbox;
    flex-direction: row-reverse;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 20%;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #94c773;
    border: none;
    display: flexbox;
}

input[type="text"] {
    width: 20%;
    margin-bottom: 10px;
    padding-left: 100px;
    border: none;
    background-color: #56941E;
    border-bottom: 3px solid #471871;
    font-size: xx-large;
    position: relative;
    left: 175px;
    bottom: 10px;
}

#currentHP {
    font-weight: bold;
}